.section {
    margin: 50px auto;
    width: 70%;
}

.meme-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.meme__button {
    display: none;
    position: static;
    width: 50px;
    height: 50px;
    color: #000000;
    border: none;
    background-color: transparent;
    background-image: url("./assets/plus-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
}



.meme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5%;
    align-items: center;
}

.meme__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme__input {
    display: none;
}

.meme__title {
    margin: 0;
    text-align: center;
    width: 60%;
}

.meme__img {
    width: 100%;
    object-position: center;
    object-fit: contain;
    display: none;
}

.meme:hover > .meme__label > .meme__img {
    display: flex;
}

.meme-list:hover > .meme > .meme__label > .meme__header > .meme__button  {
    display: flex;
}

.meme:hover > .meme__label > .meme__header > .meme__button {
    transform: rotate(45deg);
}

.meme__input:checked ~ .meme__img{
    display: flex;
}
